Harsh.P

In [91]:
#import

import pandas as pd 
import numpy as np

Creation of data frame

In [92]:
dataframe = {'name':['Danish','Varun','PK','Muddasir'],'age':[17,20,19,21],'gamer level':[8.5,8.8,9.9,0.69]}

In [93]:
df = pd.DataFrame(dataframe)
print(df)

       name  age  gamer level
0    Danish   17         8.50
1     Varun   20         8.80
2        PK   19         9.90
3  Muddasir   21         0.69

Saving the dattaframe to csv file

In [94]:
df.to_csv("fileX2.csv" , index=False)

Reading Data from csv file

In [95]:
df =pd.read_csv("fileX2.csv")
print(df)

       name  age  gamer level
0    Danish   17         8.50
1     Varun   20         8.80
2        PK   19         9.90
3  Muddasir   21         0.69

Acessing and manipulating Data

In [96]:
df = pd.read_csv("data23.csv")

In [97]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TATASTEEL,EQ,07-Sep-21,1437.00,1444.00,1459.00,1420.65,1421.50,1428.70,1439.40,6352717,9.144124e+09,145446,1169405,18.41
1,TATASTEEL,EQ,08-Sep-21,1428.70,1426.00,1442.65,1418.60,1428.00,1429.85,1430.46,4676224,6.689153e+09,114775,916268,19.59
2,TATASTEEL,EQ,09-Sep-21,1429.85,1420.00,1451.95,1420.00,1446.90,1447.00,1441.08,5313030,7.656487e+09,137267,1376404,25.91
3,TATASTEEL,EQ,13-Sep-21,1447.00,1447.00,1472.00,1436.50,1470.00,1463.45,1451.62,5670208,8.230985e+09,133505,1810526,31.93
4,TATASTEEL,EQ,14-Sep-21,1463.45,1476.00,1476.00,1449.00,1451.40,1452.30,1461.40,5503767,8.043210e+09,133997,1378792,25.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,TATASTEEL,EQ,30-Aug-22,104.85,106.50,108.50,106.05,108.45,108.30,107.44,67401780,7.241568e+09,194644,30716881,45.57
247,TATASTEEL,EQ,01-Sep-22,108.30,107.00,107.75,105.90,106.60,106.40,106.64,52454732,5.593728e+09,216010,23378824,44.57
248,TATASTEEL,EQ,02-Sep-22,106.40,107.00,107.00,105.00,105.60,105.50,105.79,45601352,4.824328e+09,199259,16669253,36.55
249,TATASTEEL,EQ,05-Sep-22,105.50,106.05,107.30,105.80,106.80,106.90,106.80,40352735,4.309547e+09,151617,14171917,35.12
250,TATASTEEL,EQ,06-Sep-22,106.90,107.40,108.80,106.05,108.50,108.60,107.47,59505849,6.395326e+09,188792,24885088,41.82

In [98]:
rows, columns = df.shape 
print('rows', rows )
print('columns',columns)

rows 251
columns 15

In [99]:
df.head(5)
df.tail(3)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
248,TATASTEEL,EQ,02-Sep-22,106.4,107.00,107.0,105.00,105.6,105.5,105.79,45601352,4.824328e+09,199259,16669253,36.55
249,TATASTEEL,EQ,05-Sep-22,105.5,106.05,107.3,105.80,106.8,106.9,106.80,40352735,4.309547e+09,151617,14171917,35.12
250,TATASTEEL,EQ,06-Sep-22,106.9,107.40,108.8,106.05,108.5,108.6,107.47,59505849,6.395326e+09,188792,24885088,41.82

In [100]:
print(df.iloc[0])

Symbol                       TATASTEEL
Series                              EQ
Date                         07-Sep-21
Prev Close                      1437.0
Open Price                      1444.0
High Price                      1459.0
Low Price                      1420.65
Last Price                      1421.5
Close Price                     1428.7
Average Price                   1439.4
Total Traded Quantity          6352717
Turnover                  9144123989.0
No. of Trades                   145446
Deliverable Qty                1169405
% Dly Qt to Traded Qty           18.41
Name: 0, dtype: object

In [101]:
print(df.iloc[0,0:5])

Symbol        TATASTEEL
Series               EQ
Date          07-Sep-21
Prev Close       1437.0
Open Price       1444.0
Name: 0, dtype: object

In [102]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades
count,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02,2.510000e+02,251.000000
mean,1072.170518,1066.663546,1081.638247,1047.364143,1062.246813,1062.597012,1064.420080,1.495817e+07,9.653725e+09,206227.880478
std,352.313161,363.535946,368.222332,356.798670,361.549502,361.786357,362.525149,2.169669e+07,5.027487e+09,102844.416494
min,100.350000,98.100000,102.000000,97.150000,100.200000,100.350000,99.480000,6.744340e+05,8.781850e+08,1.000000
25%,1033.600000,1018.500000,1035.650000,998.400000,1014.250000,1014.650000,1020.165000,5.731654e+06,6.431742e+09,141785.500000
50%,1173.000000,1168.300000,1186.600000,1151.550000,1169.100000,1169.700000,1169.680000,8.179588e+06,8.501575e+09,181740.000000
75%,1296.625000,1302.000000,1317.900000,1273.450000,1295.500000,1295.900000,1296.805000,1.134868e+07,1.124498e+10,239925.000000
max,1463.450000,1476.000000,1476.000000,1449.000000,1470.000000,1463.450000,1461.400000,1.669599e+08,3.651238e+10,680557.000000

In [103]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TATASTEEL,EQ,07-Sep-21,1437.00,1444.0,1459.00,1420.65,1421.5,1428.70,1439.40,6352717,9.144124e+09,145446,1169405,18.41
1,TATASTEEL,EQ,08-Sep-21,1428.70,1426.0,1442.65,1418.60,1428.0,1429.85,1430.46,4676224,6.689153e+09,114775,916268,19.59
2,TATASTEEL,EQ,09-Sep-21,1429.85,1420.0,1451.95,1420.00,1446.9,1447.00,1441.08,5313030,7.656487e+09,137267,1376404,25.91
3,TATASTEEL,EQ,13-Sep-21,1447.00,1447.0,1472.00,1436.50,1470.0,1463.45,1451.62,5670208,8.230985e+09,133505,1810526,31.93
4,TATASTEEL,EQ,14-Sep-21,1463.45,1476.0,1476.00,1449.00,1451.4,1452.30,1461.40,5503767,8.043210e+09,133997,1378792,25.05

reading columns

In [104]:
df.columns #Reading columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [105]:
df[["Date","Open Price","Close Price"]]

          Date  Open Price  Close Price
0    07-Sep-21     1444.00      1428.70
1    08-Sep-21     1426.00      1429.85
2    09-Sep-21     1420.00      1447.00
3    13-Sep-21     1447.00      1463.45
4    14-Sep-21     1476.00      1452.30
..         ...         ...          ...
246  30-Aug-22      106.50       108.30
247  01-Sep-22      107.00       106.40
248  02-Sep-22      107.00       105.50
249  05-Sep-22      106.05       106.90
250  06-Sep-22      107.40       108.60

[251 rows x 3 columns]

In [106]:
del df ["Symbol"]
del df ["Series"]

In [107]:
df.dropna(inplace=True)

In [108]:
df.sort_values("Low Price", ascending=True).head()

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
224,28-Jul-22,959.40,98.10,102.00,97.15,100.20,100.35,99.48,137156107,1.364434e+10,628262,52403544,38.21
225,29-Jul-22,100.35,103.00,109.30,102.15,107.80,107.60,106.71,166959934,1.781604e+10,618198,45709393,27.38
245,29-Aug-22,107.35,104.05,105.65,103.25,105.05,104.85,104.73,59895805,6.272783e+09,301406,25491529,42.56
241,23-Aug-22,105.05,104.20,108.25,103.50,107.90,107.60,106.67,70531639,7.523872e+09,262215,15384329,21.81
240,22-Aug-22,110.05,109.50,109.60,104.70,105.20,105.05,106.79,74037526,7.906795e+09,402941,32951090,44.51

In [109]:
df.sort_values("Average Price",ascending=False).head(10)

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
4,14-Sep-21,1463.45,1476.0,1476.00,1449.00,1451.40,1452.30,1461.40,5503767,8.043210e+09,133997,1378792,25.05
5,15-Sep-21,1452.30,1452.3,1463.70,1444.40,1453.05,1455.10,1454.40,4417464,6.424749e+09,117061,1027992,23.27
3,13-Sep-21,1447.00,1447.0,1472.00,1436.50,1470.00,1463.45,1451.62,5670208,8.230985e+09,133505,1810526,31.93
6,16-Sep-21,1455.10,1460.0,1471.90,1431.25,1436.90,1436.75,1445.76,5606797,8.106102e+09,148967,1744938,31.12
2,09-Sep-21,1429.85,1420.0,1451.95,1420.00,1446.90,1447.00,1441.08,5313030,7.656487e+09,137267,1376404,25.91
0,07-Sep-21,1437.00,1444.0,1459.00,1420.65,1421.50,1428.70,1439.40,6352717,9.144124e+09,145446,1169405,18.41
1,08-Sep-21,1428.70,1426.0,1442.65,1418.60,1428.00,1429.85,1430.46,4676224,6.689153e+09,114775,916268,19.59
28,18-Oct-21,1375.05,1418.0,1424.75,1391.10,1408.00,1411.05,1412.00,10923230,1.542364e+10,254274,3504738,32.09
29,19-Oct-21,1411.05,1421.0,1426.55,1357.55,1369.00,1366.90,1395.29,8756924,1.221842e+10,181679,2702284,30.86
7,17-Sep-21,1436.75,1437.0,1440.30,1360.00,1382.80,1385.90,1387.18,19572030,2.714996e+10,445794,7796326,39.83

In [110]:
df['Profit']= df['Open Price']- df['Close Price']

In [111]:
df.sort_values("Profit", ascending=True).head()

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Profit
120,28-Feb-22,1145.35,1134.00,1225.00,1129.20,1217.90,1220.75,1196.83,17605446,2.107077e+10,408543,5556479,31.56,-86.75
121,02-Mar-22,1220.75,1220.75,1299.60,1218.55,1288.75,1289.35,1280.64,24847532,3.182069e+10,612717,9784999,39.38,-68.60
89,13-Jan-22,1147.20,1154.00,1225.50,1152.15,1219.00,1221.15,1200.08,15723116,1.886896e+10,350847,4326987,27.52,-67.15
171,17-May-22,1103.50,1124.00,1197.20,1115.35,1188.65,1188.70,1159.41,11287601,1.308691e+10,266051,2819702,24.98,-64.70
101,01-Feb-22,1085.55,1104.90,1174.45,1086.40,1166.55,1167.35,1134.27,17075268,1.936795e+10,364400,3122607,18.29,-62.45

Profitable Days

In [112]:
len( df.loc[df["Profit"] >= 1] )

132

Loss Days

In [113]:
len( df.loc[df["Profit"] <= 1] )

122

In [114]:
df["Date"].head()

0    07-Sep-21
1    08-Sep-21
2    09-Sep-21
3    13-Sep-21
4    14-Sep-21
Name: Date, dtype: object

In [115]:
yum = df["Date"].str.split("-", n = 3, expand=True).head()

In [116]:
yum

    0    1   2
0  07  Sep  21
1  08  Sep  21
2  09  Sep  21
3  13  Sep  21
4  14  Sep  21

In [117]:
df["Dated"] = yum[0]
df["Month"] = yum[1]
df["Year"] = yum[2]

Most Profits Made in a Year

In [119]:
df.groupby(["Year"]).sum()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Profit
Year,,,,,,,,,,,
21,7206.0,7213.0,7301.6,7144.75,7217.8,7221.3,7223.96,27515946,3.976396e+10,664990,-8.3